<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Where can I stay updated about my order?</summary>
          <p>We will be sending out email updates and you can go to our blog: carvoyant.tumblr.com</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Will Carvoyant work on my car?</summary>
          <p>Most cars made in the US from 1996 on have an OBD port that is compatiable with our device.  All cars since 2000 are good to go.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What kind of phone to I need?</summary>
          <p>No phone required!  Our device sits on the cellular network (it is a small cell phone) so your car's data is streamed to Carvoyant without the need for a mobile app on your phone.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What will you do with my data?</summary>
          <p>Here's where Carvoyant will blow away the competition...your data is your's!  You opt in to share certain aspects of your data with specific vendors.  Therefore, you can TELL vendors when you need their service...no spam - EVER!  We will not sell you data.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>I'm an app developer, what's next?</summary>
          <p>Sign up, get started, and we'll send you an API Key to your personal cars data to build something cool.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Any way to bring the cost down?</summary>
          <p>Get everyone you know for your local town to sign up.  Once we see 500 signups from a specific MSA we drop the price for the group from that MSA.  Group discounts!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How do I access my data?</summary>
          <p>Plug our device into your car.  Register the device with your vehicle at dash.carvoyant.com and login any time to see what's going on.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>You mentioned something about service records, what's that all about?</summary>
          <p>You can scan and email, or mail, or fax, your service records to Carvoyant. This is still a beta service, but we will digitize these records and have then available on your account for your review.  In time, our system will track what was done historically based on these records to help you better know what will need to be done, should be done, or is still under warranty!          </p>
        </details>
      </li>
    </ul>
  </div>
</div>