<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Connect Your Car.
      </h3>
      <p>
        Carvoyant is a platform enabling every car built since 1996 to become a 'connected car.' For more information about us please visit our <a href="http://web.carvoyant.com" target="_blank">website</a>.  Think of how connected your cell phone is to the world around you, imagine having a car as connected. So, what can you do with a connected car?
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How Does This Work?
      </h3>
      <p>
        We ship you a device that you plug into your OBD port (under dash near steering wheel). All you do is log into your Carvoyant account and we do the rest.  Once a device is installed, account set up the features explained below will be available to you.  For more information feel free to <a href="mailto://support@carvoyant.com" target="_blank">email</a> us directly.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Know more about the service needs of your car
      </h3>
      <p>
        Check engine light on? Carvoyant will let you know why. You will know more when scheduling a service appointment to ensure you get the best price for service.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
     Know when your car battery is draining
      </h3>
      <p>
        You get a phone call from Carvoyant if your car's battery is draining. Probably just need to turn off a dome light your kids left on. Make sure you have enough amps left to start your car.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy">
      <h3>
        You can keep tabs on your teen age driver
      </h3>
      <p>
        Carvoyant will give parents tools so the parents are notified if a teen age driver goes above a certain speed or outside a specified geographic range.
      <p>
    </div>
  </div>
</div>
