<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Connect Your Car Today</h4>
      <p>Your phone is conneted, your home is connected, isn't it time to get your car connected to the world around you?  Reserve your device today and we will get your car connected.</p>
    </li>
    <li id="section-2">
      <h4>How Does It Work?</h4>
      <p>We ship you a device that you plug into your OBD port (under dash near steering wheel).  The device sits on the cellular network so you don't need to download an app.  All you do is plug in the device, log into your Carvoyant account and we do the rest.</p>
    </li>
    <li id="section-3">
      <h4>Your Data is Yours</h4>
      <p>The data that the Carvoyant system collects is always yours.  You decide who can see it and who cannot.  You let vendor on Carvoyant know if you need something.  No spam from Carvoyant...EVER!</p>
    </li>
    <li id="section-4">
      <h4>Your Applications</h4>
      <p>Are you a developer?  Application developers can get api access to the data from their own car to build cool applications.  Your Car, Your Data, Your API.  If what you develop has market potential, let's roll it out to Carvoyant users!</p>
    </li>
  </ul>
</div>