<div id='logos'>
  <ul class="wrapper clearfix">
    <li id="techcrunch"><a target="_blank" href="http://techcrunch.com/2013/01/12/carvoyant-is-ready-to-put-your-car-in-the-cloud/"></a></li>
  </ul>
</div>
