<div class="footer">
  <div class="wrapper clearfix">
  	<ul>
  		<li><a target="_blank" href="http://web.carvoyant.com">About Us</a></li>
  		<li><a target="_blank" href="http://web.carvoyant.com/about/contact-us">Contact Us</a></li>
  		<li><a target="_blank" href="http://dash.carvoyant.com">Login</a></li>
  	</ul>
    <%= render 'copyright' %>
  </div>
</div>
<%= render 'google_analytics' %>
